.containner{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header{
    flex : 15%;
    background-color: darkred;
}

.menu{
    flex: 5%;
    background-color: darkgray;
    color: white;
    display: flex;
}
.menu a{
    padding:15px 20px;
}
.menu hover{
    background-color: white;
    color: black;
}
    
.content{
    flex: 70%;
    background-color: lightyellow;
}
.content iframe{
    flex: 1;
    border: none;
    width: 100%;
    height: 100%;
.footer{
    flex: 10%;
    background-color: lightgray;
}
.tieude {
  color: green;
  font-weight: bold;
  font-size: 20pt;
}
.noidung {
  color: black;
  font-weight: normal;
  font-size:12pt;
}
.career-title {
  text-align: center;
  color: #ff7aa2;
  font-size: 26px;
  border-bottom: 3px dashed #ffb6c1;
  padding-bottom: 6px;
}

.career-text {
  font-size: 17px;
  line-height: 1.9;
  color: #444;
  max-width: 800px;
  margin: 15px auto;
  text-align: justify;
}

span {
  color: #ff6f91;
  font-weight: bold;
}
